In [4]:
import preprocessing

In [5]:
kospi = preprocessing.get_kospi(drop=True)
kospi

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,event,귀속년도,rtn
Date,,,,,,,,,
1996-12-12,705.109985,706.010010,688.739990,689.380005,689.380005,25900,before,1996,-2.171197
1996-12-13,690.440002,695.719971,677.640015,689.070007,689.070007,26500,before,1996,-0.044968
1996-12-16,686.969971,686.969971,667.710022,673.919983,673.919983,22800,before,1996,-2.198619
1996-12-17,675.349976,680.090027,660.390015,663.349976,663.349976,31600,before,1996,-1.568437
1996-12-18,662.070007,671.429993,655.469971,661.390015,661.390015,31500,before,1996,-0.295464
...,...,...,...,...,...,...,...,...,...
2024-01-02,2645.469971,2675.800049,2641.879883,2669.810059,2669.810059,409900,santa,2023,0.547213
2024-01-03,2643.540039,2643.719971,2607.310059,2607.310059,2607.310059,463100,santa,2023,-2.340991
2024-01-04,2592.439941,2602.639893,2580.090088,2587.020020,2587.020020,770200,after,2023,-0.778198
2024-01-05,2586.889893,2592.290039,2572.600098,2578.080078,2578.080078,520500,after,2023,-0.345569
2024-01-08,2584.229980,2591.679932,2566.340088,2567.820068,2567.820068,320144,after,2023,-0.397971

In [6]:
kospi = kospi[['Adj Close', 'event', '귀속년도', 'rtn']]
kospi

              Adj Close   event  귀속년도       rtn
Date
1996-12-12   689.380005  before  1996 -2.171197
1996-12-13   689.070007  before  1996 -0.044968
1996-12-16   673.919983  before  1996 -2.198619
1996-12-17   663.349976  before  1996 -1.568437
1996-12-18   661.390015  before  1996 -0.295464
...                 ...     ...   ...       ...
2024-01-02  2669.810059   santa  2023  0.547213
2024-01-03  2607.310059   santa  2023 -2.340991
2024-01-04  2587.020020   after  2023 -0.778198
2024-01-05  2578.080078   after  2023 -0.345569
2024-01-08  2567.820068   after  2023 -0.397971

[6671 rows x 4 columns]

In [8]:
kospi.to_csv('../datasets/kospi.csv')