In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
data_growth = pd.read_csv('datasets/data_growth.csv', dtype={'거래소코드':'object'}, index_col=0)

In [3]:
data_growth.head()

      year            회사명   거래소코드     회계년도  PER(최고)  PER(최저)  1주당순이익(원)
4702  2007        삼성전자(주)  005930  2006/12      NaN      NaN        NaN
4703  2007      포스코홀딩스(주)  005490  2006/12      NaN      NaN        NaN
4704  2007  에이치디한국조선해양(주)  009540  2006/12      NaN      NaN        NaN
4705  2007      한국전력공사(주)  015760  2006/12      NaN      NaN        NaN
4706  2007        (주)국민은행  060000  2006/12      NaN      NaN        NaN

### (성장주) - PEG

- 데이터프레임명 : `data_growth`

In [4]:
data_growth

       year            회사명   거래소코드     회계년도  PER(최고)  PER(최저)  1주당순이익(원)
4702   2007        삼성전자(주)  005930  2006/12      NaN      NaN        NaN
4703   2007      포스코홀딩스(주)  005490  2006/12      NaN      NaN        NaN
4704   2007  에이치디한국조선해양(주)  009540  2006/12      NaN      NaN        NaN
4705   2007      한국전력공사(주)  015760  2006/12      NaN      NaN        NaN
4706   2007        (주)국민은행  060000  2006/12      NaN      NaN        NaN
...     ...            ...     ...      ...      ...      ...        ...
17333  2023     제이준코스메틱(주)  025620  2022/12      0.0      0.0    -7343.0
17334  2023       (주)대유플러스  000300  2022/12      0.0      0.0     -407.0
17335  2023       비케이탑스(주)  030790  2022/12      0.0      0.0     -378.0
17336  2023         (주)코아스  071950  2022/12      0.0      0.0      -72.0
17337  2023        일정실업(주)  008500  2022/12      0.0      0.0    -6067.0

[12636 rows x 7 columns]

In [5]:
co_name = data_growth['거래소코드'].unique().tolist()
len(co_name), co_name[:5]

(947, ['005930', '005490', '009540', '015760', '060000'])

In [6]:
del_name = []

# for name in co_name[:2]:
for name in co_name:
    # 종목별 데이터 필터링
    dfs = data_growth[data_growth['거래소코드'] == name]
    dfs.dropna(inplace=True)

    sorted_years = dfs['year'].sort_values()

    is_continuous = all(sorted_years.diff().fillna(1) == 1)
    
    # if is_continuous:
    #     print('연속성이 있음')
    # else:
    #     del_name.append(name)

    if not is_continuous:
        print(f'연속성이 없음 : {name}')
        del_name.append(name)

연속성이 없음 : 008000
연속성이 없음 : 011330

In [7]:
del_name

['008000', '011330']

In [8]:
# 거래소코드 : 008000
# 2016 데이터 누락

data_growth[data_growth['거래소코드']==del_name[0]]

       year        회사명   거래소코드     회계년도  PER(최고)  PER(최저)  1주당순이익(원)
4901   2007  도레이케미칼(주)  008000  2006/12      NaN      NaN        NaN
5559   2008  도레이케미칼(주)  008000  2007/12     0.00     0.00    -1257.0
6232   2009  도레이케미칼(주)  008000  2008/12   228.92    65.99       47.0
6947   2010  도레이케미칼(주)  008000  2009/12   499.58    45.79       22.0
7685   2011  도레이케미칼(주)  008000  2010/12    11.77     6.69      127.0
8464   2012  도레이케미칼(주)  008000  2011/12   177.22    90.97        9.0
9156   2013  도레이케미칼(주)  008000  2012/12   210.08    83.68        6.0
9882   2014  도레이케미칼(주)  008000  2013/12  1620.35    98.19       75.0
10589  2015  도레이케미칼(주)  008000  2014/12     0.00     0.00     -750.0
12071  2017  도레이케미칼(주)  008000  2016/03   110.76    72.09      249.0

In [9]:
# 거래소코드 : 011330
# 2015 데이터 누락
data_growth[data_growth['거래소코드']==del_name[1]]

       year     회사명   거래소코드     회계년도  PER(최고)  PER(최저)  1주당순이익(원)
5287   2007  (주)유니켐  011330  2006/12      NaN      NaN        NaN
5937   2008  (주)유니켐  011330  2007/12     0.00     0.00      -89.0
6690   2009  (주)유니켐  011330  2008/12     0.00     0.00      -35.0
7428   2010  (주)유니켐  011330  2009/12     0.00     0.00    -2246.0
8171   2011  (주)유니켐  011330  2010/12     9.15     2.22      109.0
8949   2012  (주)유니켐  011330  2011/12     0.00     0.00     -214.0
9613   2013  (주)유니켐  011330  2012/12     0.00     0.00     -315.0
10382  2014  (주)유니켐  011330  2013/12     0.00     0.00     -219.0
11765  2016  (주)유니켐  011330  2015/06     0.00     0.00     -559.0
12528  2017  (주)유니켐  011330  2016/12    70.91    40.13       36.0
13225  2018  (주)유니켐  011330  2017/12    41.35    26.82       47.0
13926  2019  (주)유니켐  011330  2018/12    12.70     7.12      171.0
14807  2020  (주)유니켐  011330  2019/12    13.05     7.28      207.0
15634  2021  (주)유니켐  011330  2020/12    12.87     6.08      160.0
16375  2022  (주)유니켐  011330  2021/12    40.63    25.15       46.0
16990  2023  (주)유니켐  011330  2022/12    29.29    21.47       48.0

In [10]:
# !pip install scipy

from scipy.stats import gmean

In [11]:
gmean([1, 2, 3])
# sum([1,2,3]) ** (1/3)

1.8171205928321397

In [12]:
def make_indicator(회사명, 제외할회사명):
    df_list = []
    for i in 회사명:
        
        if i in 제외할회사명: continue

        df = data_growth[data_growth['거래소코드'] == i].reset_index(drop=True)
        df.dropna(inplace=True) 
#         df = df.dropna(subset=['1주당순이익'])
        
        """ 수정 전 """
        # df['1Y_EPS'] = ((df['1주당순이익(원)'] - df['1주당순이익(원)'].shift(1)) / df['1주당순이익(원)'].shift(1)) * 100 # %
        # df['1Y_EPS'].fillna(method='bfill', inplace=True)

        # df['3Y_EPS_mean'] = gmean(
        #     [df['1Y_EPS']  + 1, df['1Y_EPS'].shift(1) + 1, df['1Y_EPS'].shift(2) + 1]
        # ) - 1

        """ 수정 후 """
        df['1Y_EPS'] = ((df['1주당순이익(원)'] - df['1주당순이익(원)'].shift(1)) / df['1주당순이익(원)'].shift(1)) # -1 ~ 1
        # df.dropna(inplace=True)

        df['3Y_EPS_mean'] = (gmean(
            [df['1Y_EPS']  + 1, df['1Y_EPS'].shift(1) + 1, df['1Y_EPS'].shift(2) + 1]
        ) - 1)
        
        # df['PER_mean'] = (df['PER(최고)'] + df['PER(최저)']) / 2
        df['PEG'] = df['PER(최고)'] / (df['3Y_EPS_mean'] * 100)
        
        df.dropna(inplace=True)

        df_list.append(df)
    return df_list

In [13]:
dfs_peg = make_indicator(co_name, del_name) # 종목별 PEG
df_peg = pd.concat(dfs_peg) # 전체종목

In [14]:
df_peg

,year,회사명,거래소코드,회계년도,PER(최고),PER(최저),1주당순이익(원),1Y_EPS,3Y_EPS_mean,PEG
4,2011,삼성전자(주),005930,2010/12,12.25,9.42,88799.0,1.107388,0.214807,0.570278
5,2012,삼성전자(주),005930,2011/12,18.39,11.40,66868.0,-0.246974,0.210655,0.872991
6,2013,삼성전자(주),005930,2012/12,15.02,9.89,115576.0,0.728420,0.399807,0.375682
7,2014,삼성전자(주),005930,2013/12,15.03,11.47,118946.0,0.029158,0.102336,1.468694
8,2015,삼성전자(주),005930,2014/12,17.43,12.57,96784.0,-0.186320,0.131171,1.328796
...,...,...,...,...,...,...,...,...,...,...
3,2022,자이에스앤디(주),317400,2021/12,13.90,8.07,1052.0,0.346991,0.029547,4.704347
4,2023,자이에스앤디(주),317400,2022/12,6.50,3.66,1837.0,0.746198,0.394784,0.164647
3,2023,(주)하이브,352820,2022/12,295.33,87.66,1221.0,3.097315,-0.689663,-4.282239
3,2023,교촌에프앤비(주),339770,2022/12,169.64,83.26,106.0,-0.880765,-0.527680,-3.214825
3,2023,(주)에이플러스에셋어드바이저,244920,2022/12,6.47,3.37,1425.0,2.720627,0.327596,0.197500

In [15]:
df_peg.isna().sum()

year           0
회사명            0
거래소코드          0
회계년도           0
PER(최고)        0
PER(최저)        0
1주당순이익(원)      0
1Y_EPS         0
3Y_EPS_mean    0
PEG            0
dtype: int64

In [16]:
df_peg['조건'] = (df_peg['PEG']>0) & (df_peg['PEG']<=0.75)
df_peg[df_peg['조건']]['year'].value_counts()

year
2023    129
2011    109
2022    104
2018     87
2012     87
2017     74
2021     73
2019     65
2013     64
2014     61
2016     59
2020     56
2015     40
Name: count, dtype: int64

In [17]:
df_peg[df_peg['조건']].reset_index(drop=True, inplace=True)
df_peg

,year,회사명,거래소코드,회계년도,PER(최고),PER(최저),1주당순이익(원),1Y_EPS,3Y_EPS_mean,PEG,조건
4,2011,삼성전자(주),005930,2010/12,12.25,9.42,88799.0,1.107388,0.214807,0.570278,True
5,2012,삼성전자(주),005930,2011/12,18.39,11.40,66868.0,-0.246974,0.210655,0.872991,False
6,2013,삼성전자(주),005930,2012/12,15.02,9.89,115576.0,0.728420,0.399807,0.375682,True
7,2014,삼성전자(주),005930,2013/12,15.03,11.47,118946.0,0.029158,0.102336,1.468694,False
8,2015,삼성전자(주),005930,2014/12,17.43,12.57,96784.0,-0.186320,0.131171,1.328796,False
...,...,...,...,...,...,...,...,...,...,...,...
3,2022,자이에스앤디(주),317400,2021/12,13.90,8.07,1052.0,0.346991,0.029547,4.704347,False
4,2023,자이에스앤디(주),317400,2022/12,6.50,3.66,1837.0,0.746198,0.394784,0.164647,True
3,2023,(주)하이브,352820,2022/12,295.33,87.66,1221.0,3.097315,-0.689663,-4.282239,False
3,2023,교촌에프앤비(주),339770,2022/12,169.64,83.26,106.0,-0.880765,-0.527680,-3.214825,False
3,2023,(주)에이플러스에셋어드바이저,244920,2022/12,6.47,3.37,1425.0,2.720627,0.327596,0.197500,True