In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
# data_ncav = pd.read_csv('../datasets/data_value_ncav.csv', dtype={'거래소코드':'object'}, index_col=0)
data_ncav = pd.read_csv('datasets/data_value_ncav.csv', dtype={'거래소코드':'object'}, index_col=0)
data_ncav.shape

(8901, 8)

In [4]:
data_ncav.head()

,year,회사명,거래소코드,회계년도,시가총액(백만원),유동자산(백만원),부채(백만원),당기순이익(백만원)
5360,2007,평산차업집단유한공사,950010,2006/09,1.746000e+04,52122.0,45241.0,10777.0
5384,2008,삼성전자(주),005930,2007/12,6.643200e+07,40363068.0,37403228.0,7922981.0
5385,2008,포스코홀딩스(주),005490,2007/12,3.313100e+07,14291551.0,11157023.0,3677964.0
5386,2008,한국전력공사(주),015760,2007/12,1.899040e+07,9055041.0,38661739.0,1467168.0
5387,2008,에스케이텔레콤(주),017670,2007/12,1.696949e+07,4776689.0,7361302.0,1562265.0

In [5]:
data_ncav.tail()

,year,회사명,거래소코드,회계년도,시가총액(백만원),유동자산(백만원),부채(백만원),당기순이익(백만원)
17333,2023,제이준코스메틱(주),025620,2022/12,24263.016860,22336.0,6806.0,-21703.0
17334,2023,(주)대유플러스,000300,2022/12,20865.059985,254616.0,431958.0,-24286.0
17335,2023,비케이탑스(주),030790,2022/12,19208.323080,68846.0,89910.0,-14400.0
17336,2023,(주)코아스,071950,2022/12,18637.047630,30927.0,58376.0,-1663.0
17337,2023,일정실업(주),008500,2022/12,15480.000000,13595.0,27888.0,-8534.0

In [6]:
# 결측치 없음

data_ncav.isna().sum()

year          0
회사명           0
거래소코드         0
회계년도          0
시가총액(백만원)     0
유동자산(백만원)     0
부채(백만원)       0
당기순이익(백만원)    0
dtype: int64

### (가치주) - NCAV

- 데이터프레임명 : `data_ncav`

In [7]:
data_ncav

,year,회사명,거래소코드,회계년도,시가총액(백만원),유동자산(백만원),부채(백만원),당기순이익(백만원)
5360,2007,평산차업집단유한공사,950010,2006/09,1.746000e+04,52122.0,45241.0,10777.0
5384,2008,삼성전자(주),005930,2007/12,6.643200e+07,40363068.0,37403228.0,7922981.0
5385,2008,포스코홀딩스(주),005490,2007/12,3.313100e+07,14291551.0,11157023.0,3677964.0
5386,2008,한국전력공사(주),015760,2007/12,1.899040e+07,9055041.0,38661739.0,1467168.0
5387,2008,에스케이텔레콤(주),017670,2007/12,1.696949e+07,4776689.0,7361302.0,1562265.0
...,...,...,...,...,...,...,...,...
17333,2023,제이준코스메틱(주),025620,2022/12,2.426302e+04,22336.0,6806.0,-21703.0
17334,2023,(주)대유플러스,000300,2022/12,2.086506e+04,254616.0,431958.0,-24286.0
17335,2023,비케이탑스(주),030790,2022/12,1.920832e+04,68846.0,89910.0,-14400.0
17336,2023,(주)코아스,071950,2022/12,1.863705e+04,30927.0,58376.0,-1663.0
17337,2023,일정실업(주),008500,2022/12,1.548000e+04,13595.0,27888.0,-8534.0

In [8]:
# 파생변수 생성
data_ncav['NCAV'] = data_ncav['유동자산(백만원)'] - data_ncav['부채(백만원)']
data_ncav['NCAV/시총'] = data_ncav['NCAV'] / data_ncav['시가총액(백만원)']

# 조건1: ncav/시총 > 1
data_ncav['조건1'] = data_ncav['NCAV/시총'] > 1
data_ncav[data_ncav['조건1']]['year'].value_counts()

year
2023    61
2022    49
2019    36
2020    36
2008    35
2018    33
2011    30
2012    25
2021    24
2017    19
2009    14
2013    14
2016    13
2010    12
2014     9
2015     8
Name: count, dtype: int64

In [11]:
# 조건2: 흑자기업(당기순이익>0)
data_ncav['조건2'] = data_ncav['당기순이익(백만원)'] > 0

In [10]:
# 조건 1 & 조건2
data_ncav['최종조건'] = data_ncav['조건1'] & data_ncav['조건2']
data_ncav[data_ncav['최종조건']]['year'].value_counts()

year
2023    52
2022    44
2019    32
2008    31
2020    31
2018    29
2011    26
2021    20
2012    19
2017    18
2016    13
2009    12
2010    12
2013     9
2014     7
2015     7
Name: count, dtype: int64